<!-- pages/login-page/verify-code/verify-code.component.html -->

<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Verificación de dos pasos</h1>
          <p class="text-lead text-light">Hemos enviado un código de seguridad a tu correo electrónico. Por favor, ingrésalo a continuación para completar el inicio de sesión.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ingresa tu código de verificación</small>
          </div>
          <form role="form" (ngSubmit)="verify()" #verifyForm="ngForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                </div>
                <!-- Usamos ngModel para vincular el input a una propiedad en el .ts -->
                <input class="form-control" 
                       placeholder="Código de 6 dígitos" 
                       type="text"
                       name="code"
                       [(ngModel)]="code"
                       required>
              </div>
            </div>
            
            <div class="text-center">
              <!-- El botón ahora llama a la función verify() -->
              <button type="submit" class="btn btn-primary my-4" [disabled]="!verifyForm.form.valid">Verificar e Ingresar</button>
            </div>
          </form>
        </div>
      </div>
       <div class="row mt-3">
        <div class="col-12 text-center">
          <a href="javascript:void(0)" (click)="goBackToLogin()" class="text-light"><small>Volver al Login</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
