<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Creacion</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualizacion</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body container">
            <div class = "row">
              <div class = "col-3">ID</div>
              <div class = "col-9"><input type="text" [(ngModel)]="state.id" disabled></div>
            </div>
            <div class = "row">
              <div class = "col-3">Nombre</div>
              <div class = "col-9"><input type="text" [(ngModel)]="state.name" [disabled]="mode==1" formControlName="name">
                <div
                  *ngIf="getTheFormGroup.name.errors && (getTheFormGroup.name.dirty || getTheFormGroup.name.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.location.errors.required"
                      class="msnError">Requerido</strong>
                    <strong *ngIf="getTheFormGroup.name.errors.minlength" class="msnError">Inválido</strong>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class = "col-3">Region</div>
              <div class = "col-9"><input type="text" [(ngModel)]="state.region" [disabled]="mode==1" formControlName="region">
                <div
                  *ngIf="getTheFormGroup.region.errors && (getTheFormGroup.region.dirty || getTheFormGroup.region.touched || trySend)">
                      <strong *ngIf="getTheFormGroup.region.errors.min" class="msnError">Valor mínimo debe ser 1</strong>
                      <strong *ngIf="getTheFormGroup.region.errors.max" class="msnError">Valor máximo 100 </strong>
                      <strong *ngIf="getTheFormGroup.region.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>

            <br>
            <div class = "row">
              <div class = "col-3"></div>
              <div class = "col-9">
                <button *ngIf="mode==1" class="btn-primary btn-block" (click)="back()">Volver</button>
                <button *ngIf="mode==2" class="btn-primary btn-block" (click)="create()">Crear</button>
                <button *ngIf="mode==3" class="btn-primary btn-block" (click)="update()">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
