<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Servicios</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Observacion</th>
                <th scope="col">Fecha</th>
                <th scope="col">ID Maquina</th>
                <th scope="col">ID Combo</th>
                <th scope="col" class="text-left" > <!-- Celda para el botón Crear, alineado a la derecha -->
                  <button class="btn btn-success" (click)="create()">Crear</button>
                </th>
              </tr>
              <tr *ngFor="let review of reviews">
                <td>{{ review.id }}</td>
                <td>{{ review.observation }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.machine_id }}</td>
                <td>{{ review.package_id }}</td>
                <td>
                  <button class="btn btn-primary" (click)="edit(review.id)">Editar</button>
                  <button class="btn btn-primary" (click)="view(review.id)">Ver</button>
                  <button class="btn btn-danger" (click)="delete(review.id)">Eliminar</button>
                </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


