<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Gobernadores</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">ID usuario</th>
                <th scope="col">Numero telefonico</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col" class="text-left" > <!-- Celda para el botón Crear, alineado a la derecha -->
                  <button class="btn btn-success" (click)="create()">Crear</button>
                </th>
              </tr>
              <tr *ngFor="let governor of governors">
                <td>{{ governor.id }}</td>
                <td>{{ governor.user_id }}</td>
                <td>{{ governor.phone }}</td>
                <td>{{ governor.start_m }}</td>
                <td>{{ governor.end_m }}</td>
                <td>
                  <button class="btn btn-primary" (click)="edit(governor.id)">Editar</button>
                  <button class="btn btn-primary" (click)="view(governor.id)">Ver</button>
                  <button class="btn btn-danger" (click)="delete(governor.id)">Eliminar</button>
                </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


