<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Proyecto por Ciudad</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Año de ejecucion</th>
                <th scope="col">ID municipio</th>
                <th scope="col">ID proyecto</th>
                <th scope="col" class="text-left" > <!-- Celda para el botón Crear, alineado a la derecha -->
                  <button class="btn btn-success" (click)="create()">Crear</button>
                </th>
              </tr>
              <tr *ngFor="let projectTown of projectTowns">
                <td>{{ projectTown.id }}</td>
                <td>{{ projectTown.excution_year }}</td>
                <td>{{ projectTown.town_id }}</td>
                <td>{{ projectTown.project_id }}</td>
                <td>
                  <button class="btn btn-primary" (click)="edit(projectTown.id)">Editar</button>
                  <button class="btn btn-primary" (click)="view(projectTown.id)">Ver</button>
                  <button class="btn btn-danger" (click)="delete(projectTown.id)">Eliminar</button>
                </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


